[Desktop Entry]
Type=Application
Name=Feuerkraft
GenericName=Tank Battle Game
Comment=2D top-down tank battle game
Icon=feuerkraft
Exec=feuerkraft
Terminal=false
Categories=Game;ActionGame;AdventureGame;Simulation;
StartupNotify=false
Keywords=tank;battle;game;2d;
